<!DOCTYPE HTML>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * SISTEMA DE SEGUIMIENTO DE PROYECTOS DEL MCTI Y ENTES ADSCRITOS              * -->
<!-- * http://sisprooespp.mcti.gob.ve                                              * -->
<!-- * DESARROLLADO POR: ING.REIZA GARCÍA                                          * -->
<!-- *                   TSU.MARÍA GABRIELA MONTERO                                * -->
<!-- *                   ING.HÉCTOR MARTÍNEZ                                       * -->
<!-- * PARA: OFICINA ESTRATÉGICA DE SEGUIMIENTO Y EVALUACIÓN DE POLÍTICAS PÚBLICAS * -->
<!-- *       MINISTERIO DEL PODER POPULAR PARA CIENCIA, TECNOLOGÍA E INNOVACIÓN    * -->
<!-- * FECHA: ABRIL DE 2014                                                        * -->
<!-- * TELEFONOS DE CONTACTO PARA SOPORTE: 0416-9052533 / 0212-5153033             * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
 <head>
  <meta charset="UTF-8">
   <title>Ha Ocurrido un Error: {{ status_code }}</title>      
   <link rel="icon" type="image/x-icon" href="{{ asset('bundles/sispro/img/bandera.ico') }}">
   <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/sispro/img/bandera.ico') }}">  
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 </head>
 <body>   

<div class="container"> 
 <h1>Ha Ocurrido un Error</h1>
 <h2>El recurso que ha solicitado no existe.</h2>
 <div>
 Comuníquese con el personal de Tecnologías de la Información para solventar esta falla.
 Lamentamos mucho las molestias causadas.
 </div>    

</div>

 </body>
</html>