{% extends 'SisproBundle:Plantillas:base.html.twig' %}
{% block title %}
{{ titulo }}
{% endblock %}

{% block body %}
<div class="container"> 
 <h1>ยก{{ titulo }}!</h1>
 <h2>{{ mensaje }}</h2>
<br/>
<br/>
   <center>
     <a href="{{ path('principal') }}"> 
     <button class="btn btn-danger" title="Continuar">          
       <i class="icon-play icon-white"></i> Continuar</button></a>
   </center>

</div>
{% endblock %}