{# Correo que reciben los usuarios al ser registrados en el sistema #}
<html>
 <head></head>
 <body>
  Buen día Camarada <strong>{{ nombre }}</strong>,<br/>
  <p>Reciba una cordial Bienvenida al sistema de seguimiento de proyectos
  <strong>sisprooesepp.mcti.gob.ve</strong>
  de la Oficina Estratégica de Seguimiento y Evaluación de Políticas 
  Públicas (OESEPP) del Ministerio del 
  Poder Popular para Ciencia, Tecnología e Innovación (MPPCTI).</p>
  <p>Para poder completar la activación de su cuenta en el
  sistema, debe hacer click en <a href="{{ url }}"> Activar </a></p>
  <p>También, puede copiar y pegar este enlace en su navegador:</p> 
  <p><strong>{{ url }}</strong></p>
  <p>Gracias por su amable atención.<br/>
  Para cualquier consulta, no dude en comunicarse con 
  nuestros enlaces a los números indicados:</p>
  <table border="1">
   <thead>
       <tr>
        <th colspan="2" style="text-align: left">
           Enlaces de la OESEPP, responsables de hacerle seguimiento 
           a los organismos y unidades territoriales de acuerdo al 
           Despacho de adscripción</th>
        <th>
            Nº de Oficina
        </th>
        <th>
            Nº de Celular
        </th>
       </tr>
   </thead>
   <tbody>
       <tr>
           <td style="text-align: left"  rowspan="2" width="30%">
               Fortalecimiento y Aplicaciones de la ciencia y la Tecnología
           </td>
           <td width="20%">
               María Gabriela García Riera
           </td>
           <td style="text-align: center; width:25%">
               0212-555-7743
           </td>
           <td style="text-align: center; width:25%">
               0416-728-9171
           </td>
       </tr>
       <tr>
           <td>
               José Gregorio de León
           </td>
           <td style="text-align: center;">
               0212-555-7559
           </td>
           <td style="text-align: center;">
               0414-126-5953
           </td>
       </tr>
       <tr>
           <td>
               Luis Adolfo Ramirez Tiape
           </td>
           <td style="text-align: center;">
               0212-555-7253
           </td>
           <td style="text-align: center;">
               0416-820-0733
           </td>           
       </tr>       
       <tr>
           <td style="text-align: left"  rowspan="2">
               Telecomunicaciones, Tecnologías de Información y Servicios Postales
           </td>
           <td>
               Lucy Andreína Costa Henriques
           </td>
           <td style="text-align: center;">
               0212-555-7256
           </td>
           <td style="text-align: center;">
               0424-188-8080
           </td>
       </tr>
       <tr>
           <td>
               Aixela Alida Jimenez Zurita
           </td>
           <td style="text-align: center;">
               0212.555-7283
           </td>
           <td style="text-align: center;">
               0424-209-8956
           </td>
       </tr>  
       <tr>
           <td style="text-align: left">
              Formación para la Ciencia y el Trabajo
           </td>
           <td>
               Joseudy Paola Martinez Pavone
           </td>
           <td style="text-align: center;">
               0212-555-7256
           </td>
           <td style="text-align: center;">
               0414-299-1652
           </td>
       </tr>   
       <tr>
           <td style="text-align: left">
              Coordinación de Unidades Territoriales
           </td>
           <td>
               Luis Adolfo Ramirez Tiape
           </td>
           <td style="text-align: center;">
               0212-555-7253
           </td>
           <td style="text-align: center;">
               0416-820-0733
           </td>  
       </tr>         
   </tbody>
  </table><br/>
  <p>
  También puede escribirnos a <a href="mailto:oesepp@mcti.gob.ve"> oesepp@mcti.gob.ve </a></p>
  <p>
    <i>“La mejor y la más radicalmente democrática de las opciones 
        para derrotar el burocratismo y la corrupción, es la construcción 
        de un Estado comunal, que sea capaz de ensayar un esquema institucional 
        alternativo en la misma medida en que se reinventa permanentemente”.</i></p>
        <span style="text-align: right"><i>Hugo Chávez</i></span>  
 <hr/>
  Correo electrónico generado por el sistema SISPROOESEPP.<br/>
  <strong>No responder.</strong>
</body></html>
